*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}

.container{
    max-width: 1300px;
}

header{
    width: auto;
    overflow: auto;
    margin-top: 3%;
}
.logo{
    float: right;
}

.logo img{
    color: #000;
    margin-left: 5px;
}
/*----------------------*/
.menu{
    width: 100%;
    background-color: #0094d4;
    color: #fff;
    height: 60px;
    
}
.menu #logo1{
    float: left;
    height: 30px;
    padding: 15px; 30px;
    font-size: 1.2em;
    line-height: 30px;
}
.menu > ul{
    margin: 0;
    padding: 0;
    float: right;
    list-style-type: none;
}
.menu > ul > li{
    float: left;
}
.menu-item{
    display: inline-block;
    padding: 15px 20px;
    height: 30px;
    line-height: 30px;
    color: #000;
    text-decoration: none;
}
.menu-item:hover{
    background-color: #fff;
   
}

/*------------stylig sup----------*/
.sub-conte{
    position: absolute;
    top: 99px;
    overflow: hidden;
    background-color: #0094d4;
    max-height: 0;
}
.sub-conte a {
    color: #000;
    text-decoration: none;
}
.sub-drop{
    padding: 0;
    
}
.sub-drop ul{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.sub-drop ul li a{
    display: inline-block;
    padding: 10px 20px;
}
.sub-drop ul li:hover{
    background-color: #fff;
}
/*-------controling------------*/
.menu-item:focus{
    
    color: black;
}
.menu ul li:hover  .sub-conte{
    max-height: 400px;
    transition: max-height 0.5s ease-in;
    -webkit-transition: max-height 0.5s ease-in;
    -moz-transition: max-height 0.5s ease-in;
}
/*-------------------*/


.text{
    margin-top: 0%;
    margin-left: 20px;
}

.text h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: monospace;
}

.buttons{
    margin-left: 40%;
    margin-top: 20px;
}
button{
    width: 120px;
    height: 40px;
    border: 1px solid #fff;
    margin-right: 5px;
}
button a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.btn-1{
    background: #8984e3;
    border: 1px solid #8984e3;
}
.btn-1 a{
    color: #fff;
}

.btn-2: hover{
    background-color:#8984e3;
    border: 1px solid #8984e3;
    transition: all 0.0.30s ease-in;
}
body{
    background-color: #fff
}
.slider{
    width: 900px;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    padding: 0;
    width: 2400px;
    list-style: none;
    position: relative;
    animation: sliding 15s ease-in-out infinite
}
.slider ul li{
    float: left;
    position: relative;
}


.slider ul:hover{
    animation-play-state: paused;
}


@keyframes sliding{
    0%{left: 0}
    30%{left: -300px;}
    50%{left: -600px;}
    70%{left: -900px;}
    90%{left: -1200px;}
    
}
/* national */
.slider2{
    width: 700px;
    margin: auto;
    overflow: hidden;
}
.slider2 ul{
    padding: 0;
    width: 2400px;
    list-style: none;
    position: relative;
    animation: sliding 15s ease-in-out infinite
}
.slider2 ul li{
    float: left;
    position: relative;
}


.slider2 ul:hover{
    animation-play-state: paused;
}


@keyframes sliding{
    0%{left: 0}
    30%{left: -500px;}
    90%{left: -1000px;}
    
}
/* national */


/* sidebar */

#sidebar {
    float: left;
    width: 300px;
    font-size: 13px;
}



#sidebar .box2 {
    height: 1%;
    padding: 20px 30px;
    background: #fff ;
}

#sidebar h2 {
    padding: 0 10px 0 30px;
    font-size: 20px;
    line-height: 20px;
    background: #0094d4; 
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    padding: .10em 0 .10em 10px;
    line-height: 1.8em;
    background: url
}

#sidebar ul li a {
    padding: 0;
    text-decoration: none;
}
.btnn{
    display: block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    background-image: linear-gradient(45deg,#bb972e,#82b227,#cdd1d3,#06a9eb,#0131ab);
    background-size: 800PX;
    background-position: right;
}
.btnn:hover{
    animation: hover 5s infinite;
}
@keyframes hover{
    0%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}



